body{
    background-color:rgb(255, 220, 62);
}
hr{
    
    border-style: none;
    border-top-style: dotted;
    border-color:rgb(212, 45, 45);
    border-width: 5px;
    width: 5%;
    
}

h2{
    background-color: white;
    color:rgb(212, 45, 45)
    
} 
h3{
    background-color: white;
    font-weight: 1000;
    color:rgb(212, 45, 45)
}
#heading{
    background-color: white;

}

footer{
    background-color: lightgoldenrodyellow;
}
